<div class="message_form">
  <%= form_for @message, url: "/messages", method: "post", remote: true do |f| %>


    <div class="field">
      <%= f.label "Текст" %><br>
      <%= f.text_field :text, id: "message_text", value: "", :autofocus => true %>
      <% if @message.errors.any? %>
        <% @message.errors.full_messages.each do |message| %>
          <div class="red">
            <small><%= message %></small>
          </div>
        <% end %>
    <% end %>
    </div>
    <div class="actions">
      <%= f.submit "Послать"%>
    </div>

  <% end %>
</div>
